body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}


header {
  grid-column: span 12;
  color:#ffffff;
  background-color: #747474;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  padding-left: 15px;
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
  font-family: "Fjalla One", sans-serif;
}

nav {
  grid-column: span 12;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  background-color: #747474;
  grid-column: span 4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav li a {
  display: block;
  border: 1px solid #ffffff; 
  text-decoration: none; 
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  transition: background-color 1.0s, width 0.5s, color 2.0s;
}

nav li a:hover {
  color: white;
  background-color: #454545;
  text-shadow: 2px 2px 2px #000;
}



#myCarousel {
  grid-column: span 12;   /* makes it full width */
  width: 100%;            /* force it to stretch across wrapper */
  height: 100%;
  margin: 0;              
  padding: 0;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee; 
}

#myCarousel .f-carousel__slide:nth-child(2) img {
  max-height: 100%;
  width: 100%;
  
  object-fit: contain;
}

.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 38px;
  --f-arrow-height: 38px;

  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}

img {
  grid-column: span 12;
  display: block;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  color:#747474;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  text-shadow: 2px 2px 2px #747474;

}

h3 {
  font-weight: bold;
  color:black;
  padding-bottom: 2px;
  text-shadow: 2px 2px 2px #747474;
  text-align: center;
  size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

main {
  display: grid;
  grid-column: span 12;
  font-family:Georgia, 'Times New Roman', Times, serif
}

#projects{
  grid-column: span 12;
  
}


footer {
  display: grid;
  grid-column: span 12;
  background-color: #747474;
  color: #ffffff;
  text-align: center;
}

footer a {
  color:#ffffff;
  transition: color 1s;
}

footer a :hover {
  color:#454545;
}


