body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}


header {
  grid-column: span 12;
  color:#ffffff;
  background-color: #747474;
  font-weight: bold;
}

h1 {
  padding-left: 10px;
}

nav {
  grid-column: span 12;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  background-color: #747474;
  grid-column: span 4;
}

nav li a {
  display: block;
  border: 1px solid #ffffff; 
  text-decoration: none; 
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

nav li a:hover {
  color: white;
  background-color: #454545;
}

img {
  grid-column: span 12;
  display: block;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

main {
  display: grid;
  grid-column: span 12;
  font-family:Georgia, 'Times New Roman', Times, serif
}

footer {
  display: grid;
  grid-column: span 12;
  background-color: #747474;
  color: #ffffff;
  text-align: center;
}