body {
  background-color: #999999;
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #ffffff;
  padding: 1em;
}


#myCarousel {
  margin-bottom: 24px;
  border: 2px solid black;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}

.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 38px;
  --f-arrow-height: 38px;

  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}

#myCarousel2 {
  margin-bottom: 24px;
  border: 2px solid black;
}

#myCarousel2 .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}